:root{
  --main: grey;
  --accent:grey;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: var(--main);
  font-family: Helvetica, sans-serif;
  font-size:30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Helvetica;
  font-size:60px;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid var(--accent);
  margin: 0 auto;
  letter-spacing: 0;
  animation: 
     typing 3.5s steps(70, end),
    blink-caret .75s step-end infinite;
}

  @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--accent) }
}

.footer{
  position: absolute;
  width: 900px;
  text-align: center;
}

#container a{
	padding:10px;
}

.selfiebox{
   position: absolute;
  right:-300px;
  font-size:15px;
  color:black;
  width: 300px;
}
