:root{
  --main: black;
  --accent:grey;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: var(--main);
  font-family: Helvetica, sans-serif;
  font-size:60px;
  height: 100vh;
}

h1 {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size:60px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation:
     typing 3.5s steps(30, end),
    blink-caret .1s  step-end infinite;
}

  @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



h2{
  font-weight: bold;
  font-family: Helvetica;
  opacity:0;
  font-size:60px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  -webkit-animation: typing2 1s steps(40, end);
  animation: typing2 4s steps(40, end), blink-caret2 .75s step-end infinite;;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


  @keyframes typing {
  from { width: 0; }
  to { width: 100% }
}

  @keyframes typing2 {
    from { width: 0; opacity:1}
    to {width: 100%; opacity:1}
}

h3{
  font-family: helvetica;
  font-weight: bold;
  opacity:0;
  font-size:60px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  -webkit-animation: typing2 2s steps(40, end);
  animation: typing2 4s steps(40, end), blink-caret2 .75s step-end infinite;;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.footer{
  position: absolute;
  font-weight: normal;
  width: 850px;
  top: 25%;
  left:25%;
  align-items: left;
}

#container a{
	padding:10px;
  font-size:45px;
  text-decoration: none;
}

.fb{
  color:#AF9EB6
}

.tw{
  color:#AACFCD
}

.gp{
  color:#EEAE90;
}

.gw{
  color:#74A3E8;
}


.selfiebox{
   position: absolute;
  right:-200px;
  top:0px;
  font-size:15px;
  padding-left:20px;
  color:black;
  width: 300px;

}


#fragment2
{
  margin-top:-60px;
}
#fragment1
{
  width: 25em;
		    white-space:nowrap;
		    overflow:hidden;
		    -webkit-animation: frag1type 20s steps(50, end) 0s infinite;
		    animation: frag1type 20s steps(50, end) 0s infinite;
}
@keyframes frag1type{
		    from { width: 0;}
		    37%{width:25em;}
		    49%{width:0;}
		    100%{width:0;}
		}

		@-webkit-keyframes frag1type{
		    from { width: 0;}
		    37%{width:25em;}
		    49%{width:0;}
		    100%{width:0;}
		}
#fragment2
{
  opacity: 0;
			width: 25em;
		    white-space:nowrap;
		    overflow:hidden;
		    -webkit-animation: frag2type 20s steps(50, end) 10s infinite;

		    animation: frag2type 20s steps(50, end) 10s infinite;
}
@keyframes frag2type{

		    from { width: 0; opacity:1; }
		    37%{width:25em;opacity:1; }
		    49%{width:0;opacity:1; }
		    100%{width:0;opacity:1; }
		}

		@-webkit-keyframes frag2type{
		    from { width: 0; opacity:1; }
		    37%{width:25em;opacity:1; }
		    49%{width:0;opacity:1; }
		    100%{width:0;opacity:1; }
		}
